[package]
name = "flatbush"
version = "0.1.0"
edition = "2021"
rust-version = "1.75"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytemuck = "1"
float_next_after = "1"
num-traits = "0.2"
thiserror = "1"
tinyvec = { version = "1", features = ["alloc", "rustc_1_40"] }

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }
rstar = "0.11"

[[bench]]
name = "flatbush"
harness = false
