[package]
name = "geoindex-rs"
version = "0.1.0"
authors = ["Kyle Barron <kylebarron2@gmail.com>"]
edition = "2021"
description = "Fast, memory-efficient 2D spatial indexes for Python."
readme = "README.md"
repository = "https://github.com/kylebarron/geo-index"
license = "MIT OR Apache-2.0"
keywords = ["python", "geospatial"]
categories = ["science::geo"]
rust-version = "1.75"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_rust"
crate-type = ["cdylib"]

[dependencies]
bytes = "1"
geo-index = { path = "../", features = ["rayon"] }
numpy = "0.20"
pyo3 = { version = "0.20", features = ["abi3-py38"] }
thiserror = "1"
